<h2>Записаться</h2>
<p>На этой странице вы можете записатся к нам в BarberShop</p>

<form action="/" method="POST" role="form">

<div class="form-group">
    <label>Введите имя</label><br>
    <input name="username" type="text" class="foerm-control" placeholder="Ваше имя">
</div>

<div class="form-group">
    <label>Введите ваш телефон</label><br>
    <input name="phone" type="text" class="foerm-control" placeholder="Ваш телефон">
</div>

<div class="form-group">
    <label>Когда вас ждать?</label><br>
    <input name="datetime" type="text" class="foerm-control" placeholder="Введите дату и время">
</div>

<div class="form-group">
    <label>Выберете парикмахера</label>
    <select class="form-control">
        <option>Jessie Pinkman</option>
        <option>Walter White</option>
        <option>Gustavo Fring</option>
    </select>
</div>

<button type="submit" class="btn btn-primary">Записатся</button>

</form>